img {
    background-color: red;
    
}

h3{
    color: blue;
}



.divConference h4{
    position: absolute;
    left:14%;

}

.divConference p{
    display: inline-block;
    margin-left: 2%;
    width: 35%;
    height:100px;
    padding-top:3%;
}

.divConference img{
    float: left;
    clear: both;
}