.oGrid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

.octobre{
    border:1px solid black;
    background-color: yellow;
}
.septembre{
    border:1px solid black;
    background-color: cyan  ;
}
.novembre{
    border:1px solid black;
    background-color: red;
}